body{
    margin: 0em;
    font-family: 'Noto Sans', sans-serif;
}
h1,h2,h3,h4,h5{
    font-family: 'Fjalla One', sans-serif;

}
.cover{
    height: 400px;
    background-image: url(https://okdiario.com/img/2018/05/24/plantas-medicinales-1.jpg);
    color: white;
    background-size: cover;
    background-position: center;
    background-color: rgba(0,0,0,0,5);
    background-blend-mode: darken;
}
.cover-small{
    height: 200px;
    background-blend-mode: normal;

}
.card{
    border: 0 !important;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1), 0 2px 4px -1px rgba(0,0,0,0.06) ;
}
.card-title{
 min-height: 3rem;
}
.card-text{
    min-height: 10rem;
}
.product-stripe{
    overflow:scroll;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.stripe-container{
    display: flex;
}
.stripe-container .card{
    width: 300px;
    flex-shrink: 0;
    margin-right: 1rem;
}
/* segunda seccion de la pagina */


